#gameArea {
  border: 1px solid black;
}

@font-face {
  font-family: 'Eight Bit Dragon Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Eight Bit Dragon Regular'), url('eight-bit-dragon.woff') format('woff');
  }

h1 {
  font-family: 'Eight Bit Dragon Regular';
}
body{
  font-family: 'Eight Bit Dragon Regular'
    /* The image used */


}
html{
  background-image: url("/assets/cave1.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#userInput {
  resize: none;
}
